<?php
// {{ ansible_managed }}

$mysql_user = '{{ librenms_agent__mysql_username }}';
$mysql_pass = '{{ librenms_agent__mysql_password }}';
$mysql_host = '{{ librenms_agent__mysql_hostname }}';
$mysql_port = {{ librenms_agent__mysql_port }};
