<?php
// {{ ansible_managed }}

$mysql_user = '{{ librenms_agent_snmp_mysql_username }}';
$mysql_pass = '{{ librenms_agent_snmp_mysql_password }}';
$mysql_host = '{{ librenms_agent_snmp_mysql_hostname }}';
$mysql_port = {{ librenms_agent_snmp_mysql_port }};
